@import 'mixin';

section {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fold-button {

  @include fold-button($face-color: darkturquoise, $back-color: hotpink, $content: Donate, $padding: .6rem);

  // button style
  width: 30rem;
  font-family: Helvetica none;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
